<% if task.title != nil %>
  <li id="task-<%= task.id %>">
    <span class="title"><b><%= task.title %></b><br>
    <span class="content"><u><%= task.content %></u></span><br>
    <span class="timestamp">
      Created by <%= link_to task.user.email, "#" %> : <%= task.created_at %>
    </span>
  </li>
<% end %>
